* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

html {
    font-size: 14px;
    font-family: 'Montserrat', arial, sans-serif;
    font-weight: lighter;
    color: #2d363f;
    line-height: 1.5;
}

header {
    position: relative;
    top: 0;
    left: 0;
    min-height: 100vh;
    background-image: url('../images/banner1.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 60vw 100vh;
    background-color: #e6d7e2;
}

h1.banner {
    position: absolute;
    top: 41vh;
    left: 45vw;
    width: 50vw;
    padding: 0 10px;
    font-size: 100px;
    font-family: 'Allura', arial, sans-serif;
    font-weight: lighter;
}

h2.banner {
    position: absolute;
    top: 60vh;
    left: 62vw;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: lighter;
    text-transform: uppercase;
}

@media (max-width: 1360px) {

    h1.banner {
        left: 46vw;
        font-size: 80px;
    }

    h2.banner {
        top: 56vh;
        font-size: 15px;
    }
}

@media (max-width: 1200px) {

    header {
        background-size: 85% 100vh;
    }

    h1.banner {
        top: 51%;
        left: 42.5%;
        transform: translate(-50%, -50%);
        font-size: 70px;
        text-align: center;
    }

    h2.banner {
        top: 60%;
        left: 42.5%;
        transform: translate(-50%, -50%);
        font-size: 20px;
    }
}

@media (max-width: 920px) {

    header {
        background-size: 100vw 100vh;
    }

    h1.banner {
        top: 50%;
        left: 50%;
        width: 100%;
        padding: 0 30px;
        font-size: 85px;
    }

    h2.banner {
        top: 58%;
        left: 50%;
        width: 100%;
        padding: 5px 15px;
        text-align: center;
    }
}

@media (max-width: 820px) {

    h1.banner {
        font-size: 80px;
    }

    h2.banner {
        font-size: 20px;
    }
}

@media (max-width: 660px) {
    h1.banner {
        font-size: 40px;
    }

    h2.banner {
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    h2.banner {
        font-size: 12px;
    }
}

@media (max-width: 300px) {

    h1.banner {
        font-size: 34px;
    }
}

@media (max-width: 1000px) and (orientation: landscape) {
    h1.banner {
        top: 49%;
        font-size: 60px;
    }

    h2.banner {
        font-size: 19px;
    }
}

@media (max-width: 900px) and (orientation: landscape) {
    h1.banner {
        top: 48%;
        font-size: 50px;
    }

    h2.banner {
        font-size: 18px;
    }
}

/* NAV */

nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.main-menu ul {
    margin-left: 66vw;
}

li.menu-item {
    float: left;
    list-style: none;
}

li.menu-item a {
    display: block;
    height: 7vh;
    padding: 2vh 2vh 1vh;
    color: #2d363f;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.4s;
}

li.menu-item a:hover {
    border-bottom: 1px solid #2d363f;
    color: black;
}

header div.wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 1250px) {

    .main-menu ul {
        margin-left: 64vw;
    }

    li.menu-item a {
        padding: 2vh 2vh 1vh;
        margin-left: 6px;
        font-size: 12px;
    }
}

@media (max-width: 1200px) {

    .main-menu ul {
        margin-left: 85vw;
    }

    li.menu-item {
        min-width: 10vw;
    }

    li.menu-item a {
        margin: 2vh 10px;
        font-size: 13px;
    }

    header div.wrap {
        background-color: rgba(255, 255, 255, 0.7);
    }
}

@media (max-width: 960px) {

    li.menu-item a {
        padding: 2vh 1vh 1vh;
    }
}

@media (max-width: 920px) {
    li.menu-item a {
        font-size: 12px;
    }

    nav {
        display: none;
    }
}

/* SECTION ABOUT US */

section.aboutUs {
    max-width: 80vw;
    margin: 10vh auto 15vh;
}

div.feature {
    float: left;
    width: 33%;
    padding: 2vh 2vw;
    text-align: center;
}

h2.feature {
    margin-bottom: 2vh;
    color: black;
    font-weight: lighter;
    letter-spacing: 1px;
}

h2.feature:hover {
    color: #e6d7e2;
    font-weight: lighter;
}

p.feature {
    line-height: 1.5;
    font-weight: lighter;
}

img.feature {
    height: 90px;
    margin-bottom: 2vh;
}

@media (max-width: 1200px) {

    div.feature {
        width: 100%;
        padding: 1vh 2vw 2vh;
    }

    section.aboutUs {
        width: 70%;
        font-size: 12px;
    }

    p.feature {
        line-height: 2;
    }
}

@media (max-width: 600px) {

    h2.feature {
        font-size: 15px;
    }

    p.feature {
        font-size: 12px;
    }

    section.aboutUs {
        margin: 5vh auto;
    }
}

/* SECTION OFFER */

section.offer-mobile {
    display: none;
}

section.offer {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    background-color: rgba(255, 255, 255, 0.4);
    overflow: hidden;
}

div.offer {
    position: absolute;
    top: 0;
    left: 55%;
    width: 40vw;
    height: 15%;
    text-align: center;
}

img.offer {
    position: absolute;
    top: 0;
    left: 0;
    height: 70vh;
    z-index: -1;
}

h2.offer {
    margin-bottom: 2vh;
    color: black;
    font-size: 19px;
    font-weight: lighter;
    letter-spacing: 2px;
    text-transform: uppercase;
}

p.offer {
    padding: 0 1.5vw;
}

div.offer-items {
    position: absolute;
    top: 15%;
    left: 30%;
    width: 70%;
    background-color: #e6d7e2;
}

div.offer-item {
    float: left;
    min-height: 65vh;
    margin: 7% 1.5vw;
    background-color: white;
    text-align: center;
    transition: 0.2s linear;
}

div.offer-item:hover {
    transform: scale(0.99);
    box-shadow: 0 0 2px 2px #dabdd2;
}

.offer-item img {
    opacity: 0.8;
    width: 20vw;
}

h3.offer-item {
    width: 20vw;
    padding: 2vh 0;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p.offer-item {
    width: 20vw;
    padding: 1vw 2vh;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.5;
}

@media (max-width: 1360px) {

    section.offer {
        display: none;
    }

    section.offer-mobile {
        display: block;
        background-color: #e6d7e2;
    }

    div.offer-mobile {
        padding: 30px 20px;
        text-align: center;
        line-height: 2;
        font-size: 12px;
    }

    div.wrap-mobile {
        display: flex;
        justify-content: space-around;
        width: 95%;
        padding-bottom: 5vh;
        margin: 0 auto 5vh;
    }

    div.item-mobile {
        width: 30%;
        padding: 15px 15px 40px;
        background-color: #fff;
        text-align: center;
        line-height: 2;
        font-size: 12px;
    }

    h3.offer-item-mobile {
        padding: 10px 0;
        text-transform: uppercase;
        font-weight: normal;
    }

    .item-mobile img {
        transform: translate(-15px, -15px);
        width: calc(100% + 30px);
        opacity: 0.8;
    }
}

@media (max-width: 700px) {

    div.wrap-mobile {
        flex-direction: column;
    }

    div.item-mobile {
        display: flex;
        width: 90%;
        padding: 0;
        margin: 1vh auto;
    }

    .item-mobile img {
        width: 50%;
        transform: translate(0, 0);
    }

    p.offer-item-mobile {
        padding: 10px;
    }
}

@media (max-width: 450px) {

    div.wrap-mobile {
        flex-direction: column;
    }

    div.item-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 2vh auto;
    }

    .item-mobile img {
        width: 100%;
    }
}

/* PORTFOLIO */

section.gallery {
    margin: 0;
    min-height: 80vh;
}

.gallery img {
    width: 33%;
    padding: 2vh 2vh;
    transition: 0.5s;
}

.gallery a:hover img {
    opacity: 0.8;
}

.gallery h3 {
    padding: 4vh 2vw;
    font-size: 19px;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media (max-width: 1200px) {

    .gallery h3 {
        padding: 4vh 2vw;
    }
}

@media (max-width: 920px) {

    .gallery img {
        width: 49%;
        padding: 1vh 1vh;
    }

    section.gallery {
        margin: 0;
    }
}

@media (max-width: 530px) {

    .gallery h3 {
        font-size: 15px;
    }

    .gallery img {
        width: 100%;
    }
}

/* SECTION STEPS */

section.steps {
    min-height: 55vh;
    margin-top: 10vh;
    background-color: rgb(240, 240, 240);
}

h2.steps {
    padding: 4vh 2vw;
    font-size: 19px;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

div.steps-wrap {
    height: 35vh;
    width: 50vw;
    margin: 0 auto;
    background-color: #fff;
}

div.steps {
    display: flex;
    height: 6vh;
    border-bottom: 1px solid #b1b1b1;
    text-align: center;
}

.steps button {
    flex-grow: 1;
    display: block;
    border: none;
    color: #b1b1b1;
    background-color: #fff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    line-height: 6vh;
    letter-spacing: 1px;
}

.steps button:focus {
    color: black;
    font-weight: bold;
}

.steps i {
    padding-right: 1vw;
}

.steps button:hover {
    color: black;
    cursor: pointer;
}

div.about-step {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.about-step.active {
    display: block;
}

div.step-number {
    position: absolute;
    top: 11%;
    left: 8%;
    width: 14vh;
    height: 14vh;
    font-size: 50px;
    background-color: rgb(240, 240, 240);
    border-radius: 50%;
    text-align: center;
    line-height: 14vh;
}

h3.steps {
    position: absolute;
    top: 11%;
    left: 30%;
    width: 60%;
    font-size: 19px;
    font-weight: lighter;
}

p.steps {
    position: absolute;
    top: 26%;
    left: 30%;
    width: 60%;
    padding-right: 1vw;
    font-size: 14px;
    line-height: 2;
}

@media (max-width: 1200px) {

    section.steps {
        min-height: 65vh;
    }

    div.steps-wrap {
        width: 70%;
    }

    div.steps-wrap {
        height: 38vh;
    }

    div.steps {
        height: 8vh;
    }

    .steps button {
        font-size: 16px;
    }

    h3.steps {
        left: 30%;
        font-size: 19px;
        font-weight: bold;
    }
}

@media (max-width: 1025px) and (orientation:portrait) {

    section.steps {
        min-height: 50vh;
    }

    div.steps-wrap {
        width: 70%;
    }

    div.steps-wrap {
        height: 25vh;
    }

    div.steps {
        height: 5vh;
    }

    div.step-number {
        width: 110px;
        height: 110px;
        line-height: 110px;
        font-size: 70px;
    }
}

@media (max-width: 920px) {

    section.steps {
        min-height: 60vh;
    }

    div.steps-wrap {
        width: 80%;
        height: 35vh;
    }

    div.steps {
        height: 7vh;
    }

    p.steps {
        top: 28%;
        left: 30%;
        font-size: 12px;
    }

    .steps button {
        font-size: 16px;
    }
}

@media (max-width: 920px) and (orientation: landscape) {

    section.steps {
        min-height: 100vh;
    }

    div.steps-wrap {
        height: 70vh;
    }

    div.steps {
        height: 13vh;
    }

    div.step-number {
        width: 110px;
        height: 110px;
        line-height: 110px;
        font-size: 70px;
    }
}

@media (max-width: 760px) {

    div.steps-wrap {
        width: 100%;
    }

    h3.steps {
        left: 30%;
        font-weight: bold;
    }

    p.steps {
        left: 30%;
    }
}

@media (max-width: 670px) {

    div.step-number {
        width: 90px;
        height: 90px;
        line-height: 90px;
        font-size: 50px;
    }
}

@media (max-width: 570px) {

    div.step-number {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 35px;
    }

    .steps button {
        font-size: 13px;
    }

    h3.steps {
        font-size: 17px;
        left: 32%;
    }

    p.steps {
        font-size: 11px;
        left: 32%;
    }
}

@media (max-width: 400px) {

    h3.steps {
        left: 35%;
    }

    p.steps {
        left: 35%;
    }
}

@media (max-width: 330px) {

    div.step-number {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 30px;
    }

    .steps button {
        font-size: 10px;
    }

    h3.steps {
        font-size: 15px;
        left: 33%;
    }

    p.steps {
        font-size: 11px;
        left: 33%;
    }
}

/* SECTION OPINION */

section.opinion {
    background-image: url('../images/banner2.jpg');
    background-repeat: no-repeat;
    background-position: 0 10%;
    background-size: cover;
}

div.opinion {
    width: 100%;
    padding: 7% 10px;
    margin: 0 auto;
    background-color: rgba(32, 32, 32, 0.7);
    text-align: center;
    line-height: 1.5;
}

h3.opinion {
    padding-bottom: 3vh;
    color: white;
    font-size: 19px;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p.opinion {
    width: 40vw;
    padding: 2vh 3vw;
    margin: 0 auto;
    color: white;
    font-size: 14px;
    line-height: 2;
}

p.client-name {
    color: white;
}

div.photos div {
    float: left;
    height: 6vw;
    width: 6vw;
    margin: 2vh 1vw;
    border-radius: 50%;
    text-align: center;
    background-position: center;
    background-size: cover;
}

div.photos div.first-client {
    background-image: url(../images/client1.JPG);
}

div.photos div.second-client {
    background-image: url(../images/client2.jpg);
}

div.photos div.third-client {
    background-image: url(../images/client3.JPG);
}

div.photos {
    width: 24vw;
    margin: 0 auto;
}

div.photos~div.first-client {
    display: none;
}

div.photos~div.second-client {
    display: none;
}

div.photos~div.third-client {
    display: none;
}

div.photos~div.on {
    display: block;
}

div.photos div.first-client:hover,
div.photos div.second-client:hover,
div.photos div.third-client:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media (max-width: 1100px) {

    p.opinion {
        width: 80vw;
    }
}

@media (max-width: 920px) {

    div.photos {
        width: 33vw;
    }

    div.photos div {
        height: 9vw;
        width: 9vw;
    }

    .opinion p {
        font-size: 12px;
    }
}

@media (max-width: 530px) {

    h3.opinion {
        font-size: 15px;
    }
}

@media (max-width: 400px) {

    div.photos {
        width: 36vw;
    }

    div.photos div {
        height: 10vw;
        width: 10vw;
    }
}

/* FOOTER */

footer {
    padding: 5vh 0;
    background-color: rgb(31, 31, 31);
    color: white;
}

div.newsletter {
    width: 50vw;
    padding: 1vh 3vw 15vh;
    margin: 0 auto;
    text-align: center;
}

p.newsletter {
    padding: 3vh 0 5vh;
    font-size: 19px;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px;
}

input.newsletter {
    display: block;
    width: 90%;
    height: 30px;
    padding: 0 1vw;
    border-radius: 30px;
    margin: 0 auto;
}

button.newsletter {
    padding: 0 30px;
    margin-top: 3vh;
    border: none;
    border-radius: 20px;
    background-color: #e6d7e2;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 2;
}

button.newsletter:hover {
    cursor: pointer;
}

div.box {
    width: 75%;
    padding-bottom: 3vh;
    margin: 0 auto;
}

div.contact {
    float: left;
    width: 33%;
    text-align: center;
}

.contact i {
    padding-bottom: 2vh;
    font-size: 25px;
    color: #e6d7e2;
}

p.icon {
    padding-bottom: 1vh;
    text-transform: uppercase;
    letter-spacing: 2px;
}

::selection {
    background-color: pink;
}

@media (max-width: 800px) {
    div.newsletter {
        width: 90vw;
    }

    div.box {
        width: 95%;
    }

    div.contact {
        font-size: 12px;
    }
}

@media (max-width: 530px) {
    p.newsletter {
        font-size: 15px;
    }
}

@media (max-width: 470px) {
    div.contact {
        width: 100%;
        padding-bottom: 9vh;
    }