/* font-family: 'Allura', cursive;
font-family: 'Montserrat', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

html {
    font-size: 14px;
    font-family: 'Montserrat', arial, sans-serif;
    color: #2d363f;
    min-height: 400vh;
    line-height: 1.5;
    font-weight: lighter;
}

header {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    background-image: url('../images/banner1.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 60vw 100vh;
    background-color: #e6d7e2;
}

h1.banner {
    position: absolute;
    top: 41vh;
    left: 45vw;
    width: 50vw;
    font-size: 111px;
    font-family: 'Allura', arial, sans-serif;
    font-weight: lighter;
}

h2.banner {
    position: absolute;
    top: 60vh;
    left: 62vw;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: lighter;
}

/* NAV */

nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.main-menu ul {
    margin-left: 65vw;
}

li.menu-item {
    float: left;
    list-style: none;
}

li.menu-item a {
    display: block;
    margin-right: 10px;
    padding: 2vh 2vh 1vh;
    color: #2d363f;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.4s;
}

li.menu-item a:hover {
    border-bottom: 1px solid #2d363f;
    color: black;
}

header div.wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
}

/* SECTION ABOUT US */

section.aboutUs {
    max-width: 80vw;
    margin: 10vh auto 15vh;
}

div.feature {
    float: left;
    width: 33%;
    padding: 2vh 2vw;
    text-align: center;
}

h2.feature {
    margin-bottom: 2vh;
    color: black;
    font-weight: lighter;
    letter-spacing: 1px;
}

h2.feature:hover {
    color: #e6d7e2;
    font-weight: lighter;
}

p.feature {
    line-height: 1.5;
    font-weight: lighter;
}

img.feature {
    height: 90px;
    margin-bottom: 2vh;
}

/* SECTION OFFER */

section.offer {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.4);
}

div.offer {
    position: absolute;
    top: 3%;
    left: 55%;
    width: 40vw;
    text-align: center;
}

img.offer {
    position: absolute;
    top: 0;
    left: 0;
    height: 70vh;
    z-index: -1;
}

h2.offer {
    margin-bottom: 2vh;
    color: black;
    font-size: 19px;
    font-weight: lighter;
    letter-spacing: 2px;
    text-transform: uppercase;
}

div.offer-items {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 70%;
    height: 80vh;
    background-color: #e6d7e2;
}

div.offer-item {
    float: left;
    height: 75%;
    margin: 7% 1.5vw;
    background-color: white;
    text-align: center;
}

.offer-item img {
    opacity: 70%;
    width: 20vw;
}

h3.offer-item {
    padding: 2vh 0;
    font-weight: lighter;
    text-transform: uppercase;
}

p.offer-item {
    width: 20vw;
    padding: 1vw 2vh;
    font-size: 14px;
    line-height: 1.5;
}

/* PORTFOLIO */

section.gallery {
    margin: 40vh 0 0;
    min-height: 80vh;
}

.gallery img {
    width: 33%;
    padding: 2vh 2vh;
    transition: 0.5s;

}

.gallery a:hover img {
    opacity: 0.8;
}

.gallery h3 {
    padding: 4vh 2vw;
    font-size: 19px;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* SECTION STEPS */

section.steps {
    min-height: 58vh;
    margin-top: 15vh;
    background-color: rgb(240, 240, 240);
}

h2.steps {
    padding: 4vh 2vw;
    font-size: 19px;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

div.steps-wrap {
    height: 35vh;
    width: 50vw;
    margin: 0 auto;
    background-color: #fff;
}

div.steps {
    display: flex;
    height: 6vh;
    text-align: center;
}

.steps a {
    flex-grow: 1;
    display: block;
    color: #b1b1b1;
    text-decoration: none;
    line-height: 6vh;
    font-weight: bold;
}

.steps i {
    padding-right: 1vw;
}

.steps a:hover {
    color: black;
}

div.about-step {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.step-number {
    position: absolute;
    top: 11%;
    left: 8%;
    width: 14vh;
    height: 14vh;
    font-size: 50px;
    background-color: rgb(240, 240, 240);
    border-radius: 50%;
    text-align: center;
    line-height: 14vh;
}

h3.steps {
    position: absolute;
    top: 11%;
    left: 30%;
    width: 60%;
    font-size: 19px;
    font-weight: lighter;

}

p.steps {
    position: absolute;
    top: 26%;
    left: 30%;
    padding-right: 1vw;
    width: 60%;
    font-size: 12px;
    line-height: 2;
}

/* SECTION OPINION */

section.opinion {
    height: 70vh;
    background-image: url('../images/banne2.jpg');
    background-repeat: no-repeat;
    background-position: 0 10%;
    background-size: cover;
}

div.opinion {
    width: 100%;
    height: 70vh;
    margin: 0 auto;
    background-color: rgba(32, 32, 32, 0.7);
    text-align: center;
    line-height: 1.5;
    padding: 7% 10px;
}

h3.opinion {
    padding-bottom: 3vh;
    color: white;
    font-size: 19px;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p.opinion {
    width: 40vw;
    padding: 2vh 3vw;
    margin: 0 auto;
    color: white;
    font-size: 14px;
    line-height: 2;
}

p.opinion-first-client {
    padding-top: 1vh;
    color: #e6d7e2;
    letter-spacing: 1px;

}

div.clients {
    float: left;
    height: 8vh;
    width: 8vh;
    margin: 2vh 1vw;
    border-radius: 50%;
    background-color: red;
    text-align: center;
    background-position: center;
    background-size: cover;
}

div.first-client {
    background-image: url(../images/client1.JPG);
}

div.second-client {
    background-image: url(../images/client2.JPG);
}

div.third-client {
    background-image: url(../images/client3.JPG);
}

div.photos {
    width: 18vw;
    margin: 0 auto;
}

div.opinion-second-client {
    display: none;
}

div.opinion-third-client {
    display: none;
}

.first-client:hover,
.second-client:hover,
.third-client:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* FOOTER */

footer {
    min-height: 60vh;
    background-color: rgb(31, 31, 31);
    color: white;
}

div.newsletter {
    width: 50vw;
    padding: 8vh 3vw;
    margin: 0 auto;
    text-align: center;
}

p.newsletter {
    padding: 3vh 0 5vh;
    font-size: 19px;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px;
}

input.newsletter {
    display: block;
    width: 30vw;
    height: 4vh;
    margin: 0 auto;
    padding: 0 1vw;
    border-radius: 20px;
}

button.newsletter {
    padding: 0 30px;
    margin-top: 3vh;
    line-height: 2;
    border-radius: 20px;
    border: none;
    background-color: #e6d7e2;
    text-transform: uppercase;
    letter-spacing: 2px;
}

button.newsletter:hover {
    cursor: pointer;
}

div.box {
    width: 60vw;
    margin: 0 auto;
}

div.contact {
    float: left;
    width: 20vw;
    padding: 2vh 5vw;
    text-align: center;
}

.contact i {
    padding-bottom: 2vh;
    font-size: 25px;
    color: #e6d7e2;
}

p.icon {
    padding-bottom: 1vh;
    text-transform: uppercase;
    letter-spacing: 2px;
}

::selection {
    background-color: pink;
}